.form-box{
    background-color: rgb(173, 236, 236);
    position: relative;
    text-align: center;
width: 500px;
margin-left: 450px;
margin-top: 1px;
height:600px;
border-radius: 5px;

}
.form-box label{
    text-align: center;

}
.form-box label{
    display: block;
    text-align: center; 
    font-size:20px;
    /* margin: 0 0 2vh 0; */
    margin-top: 5px;
    height: auto;
    border-radius: 5px;
}
.form-box input, textarea{
    width: fit-content;
    border-radius: 5px;
   height: 20px;
}
#input:hover{
    color:black;
}
/* body{
    background-image: url(./images/vincent-burkhead-LhlxYMfnTF0-unsplash.jpg);
    background-position: center;
} */
.regButton{
    /* margin: 1rem 0 1rem 8rem; */
    
    border-radius: 20px; 
    margin-top: 5px;
    /* margin-right: 52%;   */
    height: 35px;
    width: 100px;
    position: center;
    background-color: white;
}
.poll{
    border-radius: 5px;
}
.regButton:hover{
    color: black;
}