.form-box{
    /* background-color: rgb(173, 236, 236); */
    /* background-color: #00cc66; */
    background-color: white;
    position: relative;
    text-align: center;
width: 600px;
margin-left: 350px;
margin-top: 50px;
height:870px;
/* width: 600px; */
max-width: 35vw;
margin-left: 33vw;
margin-top: 20px;
height:900px;
border-radius: 5px;
box-shadow: inset;



}
.gender{
    width: 60px;
    height: 275px;
    justify-content: center;
    margin-left: 300px;
}
.form-box label{
    text-align: center;

}
.form-box label{
    display: block;
    text-align: center; 
    font-size:20px;
    /* margin: 0 0 2vh 0; */
    margin-top: 5px;
    height: auto;
    border-radius: 5px;
    font-weight: bolder;

}
.form-box input, textarea{
    width: 350px;
    border-radius: 5px;
   height: 40px;
}
#input:hover{
    color:black;
}
/* body{
    background-image: url(./images/vincent-burkhead-LhlxYMfnTF0-unsplash.jpg);
    background-position: center;
} */
.regButton{
    /* margin: 1rem 0 1rem 8rem; */
    
    border-radius: 20px; 
    margin-top: 5px;
    /* margin-right: 52%;   */
    height: 35px;
    width: 100px;
    position: center;
    background-color: #00cc66;
}
.poll{
    border-radius: 5px;
    
  
    
}
.regButton:hover{
    background-color: rgb(180, 9, 169);
}
.parta, .partb{
    display: inline-block;
}
.register {
    /* padding-top: 0.25px; */
    font-style:italic;
    font-size: x-large;
}
.gender {
    height: 25px;
    width: 150px;
}
/* .first {
    margin-top: 50px;
} 
.station {
    height: 100px;
}  */