body{
    background-image: url(./images/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg);
}
.pollcount{
    justify-content: center;
     margin-left: 650px;
    margin-top: 40px;
    display: inline-block; 
    
  

}
.poll{
    /* justify-content: center; */
    margin-top: 100px;
    height: 50px;
    padding: 20px;
    width: 250px;
    background-color: rgb(173, 236, 236);
    margin-right: 200px;
    cursor: pointer;
    border-radius: 20px 0 0 20px; 
}
.vote{
    margin-top: 150px;
    height: 50px;
    padding: 20px;
    width: 250px;
    background-color: rgb(173, 236, 236);
    margin-right: 10px;
    cursor: pointer;
    border-radius: 0 20px 20px 0; 


}
.vote:hover, .poll:hover{
    color: black;
}
/* .home {
    justify-content: center; 
} */
.rows {
    margin-bottom: 100px;
}
.heading {
    font-size: x-large;
    color: rgb(248, 247, 252);
}