body{
    background-image: url(./images/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg);
}
.pollcount{
    margin-left: 470px;
    margin-top: 25px;
    height: 30px;
    margin-right: 250px;
    /* display: inline-block;   */
  

}
.poll{
    margin-top: 100px;
    height: 50px;
    padding: 20px;
    width: 400px;
    background-color: aquamarine;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 20px 0 0 20px; 

}
.vote{
    margin-top: 150px;
    height: 50px;
    padding: 20px;
    width: 400px;
    background-color: aquamarine;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 0 20px 20px 0; 


}